<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <title>
    Calculate Value of The Index of Series 2,3,10,15,....
  </title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body>
  <div class="container">
    <form name="input" id="input">
      <strong><label for="your_weight">Enter Index</label>
            &nbsp;</strong>
      <input type="text"
               name="wt"
               size="3"
               id=
               "your_weight" />
      <br />
      <input type="button" value="Get Value" (click)="this.compute()"/><br />
      <label for="yourbmi">
            <span style="font-size: .9em; font-weight:bold;">
            Value at particular Index in the series 2,3,10,15,...</span></label><br />
      <input name="res"
               type="text"
               size="4"
               id="yourbmi"
               style="text-align: center" />
    </form>
  </div>
</body>

</html>